<div class="col-md-4 mx-auto">
    <div class="card card-body">
        <form action="/product/add" method="POST">
            <div class="form-group">
                <input type="text" name="name" class="form-control" placeholder="Name" autofocus required>
            </div>
            <div class="form-group">
                <input type="text" name="familyName" class="form-control" placeholder="Family Name" required>
            </div>
            <div class="form-group">
                <input type="email" name="email" class="form-control" placeholder="email@email.com" required>
            </div>
            <div class="form-group">
                <input type="password" name="password" id="" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$">
            </div>
            <button class="btn btn-primary btn-block">
                save
            </button>
        </form>
    </div>
</div>